    @font-face {
    font-family: 'Post No Bills Jaffna Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Bold'), url('PostNoBillsJaffna-Bold.woff') format('woff');
}

    